form {
  display: inline-block;
}

.add-review {
  width: 100%;
}

.hidden {
  display: none;
}

.review-form-div {
  text-align: center;
}

.review-label {
  text-align: left;
  width: 100%;
}

.submit-review-button {
  margin: 27px;
  padding: 2%;
  font-size: 15px;
  width: 18%;
  text-align: center;
}

textarea {
  border: 1px solid #696969;
  width: 100%;
}

@media (min-width: 768px) {
  header {
    position: fixed;
    width: 100%;
    z-index: 100;
    padding: 10%;
  }

  #review {
    display: block;
  }

  .review-label {
    text-align: left;
  }

  .submit-review-button {
    padding: 10px;
    width: 15%;
    text-align: center;
    margin-left: 50px;
  }
}