@import url('https://fonts.googleapis.com/css?family=Poppins:200&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  text-align: center;
  text-decoration: none;
}

button {
  border: 1px solid #696969;
  font-size: 14px;
  padding: 3%;
}

/* .hamburger {
  color: #696969;
  text-align: right;
} */

@media (min-width: 768px) {
  button {
    margin: 5px;
    padding: 1%;
    font-size: 15px;
  }

  .content {
    padding: 2%;
  }

  header {
    position: fixed;
    width: 100%;
    z-index: 100;
    padding: 10%;
  }

  /* .hamburger {
    display: none;
  } */
}